* {
    color: #000;
}

body {
    color: #222;
    margin:0;
}

a { 
    color:#222;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

a.button:hover {
    text-decoration: none;
}

div.navigation {
	height: 75px;
}

div.navigation ul {
	float: right;
    margin-right: 25px;
    margin-top: 0;
}

div.navigation  li {
	display: inline-block;
    font-size: 13px;
	margin: 5px 5px 0 0;
    padding: 5px 10px 0 0;
    vertical-align: bottom;
}

div.navigation a {
	color: #626065;
	font-size: 14px;
}

div.navigation a:hover {
	color: black;
}

.fa {
    cursor: default;
    font-size: 16px !important;
    opacity: 0.7;
    vertical-align: top;
}

.fa:hover {
    cursor: pointer;
    opacity: 1;
}

.share {
    background-color: #f2f2f2;
    cursor: default;
    padding: 10px 15px;

}

.share:hover {
    background-color: #E1E1E1;
    cursor: pointer;
}

.profile {
    border-radius: 25px;
    height: 32px;
    position: relative;
    top: 10px;
    width: 32px;
}

.cta {
    height: 364px;
    margin-top: 150px;
}

.cta .logo {
    text-align: center;
}

.cta input {
    border: 1px solid #d9d9d9;
    display: block;
    font-size: 16px;
    height: 30px;
    margin: 0 auto;
    padding: 5px;
    width: 45%;
}

.search {
	text-align: center;
}

.search button {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: gray;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 17px 6px;
    padding: 10px 15px;
}

.search button:hover {
	background-color:#f8f8f8;
	border: 1px solid #c6c6c6;
    color:#333;
}

div.footer {
	background-color: #f5f5f5;
	border-top: 1px solid #e4e4e4;
    bottom: 0;
    font-size: 10px;
    height: 50px;
    position: fixed;
    width: 100%;
}

div.footer ul.left {
	float: left;
}

div.footer ul.right{
	float: right;
    padding-right: 40px;
}

div.footer li {
    display: inline-block;
    font-size: 13px;
    margin: 5px 5px 0 0;
    padding: 5px 10px 0 0;
    vertical-align: bottom;
}
/*Responsive*/
@media (max-width:426px){
    .profile{
        display: none;
    }

}

@media (max-width:375px){
    .share{
        display: none;
    }

}